<settings>
    <setting propertyKey="@Properties.weekStartDay" title="@Strings.WeekStartDayTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WeekStartSunday</listEntry>
            <listEntry value="1">@Strings.WeekStartMonday</listEntry>
            <listEntry value="2">@Strings.WeekStartSaturday</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.dateFormat" title="@Strings.DateFormatTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DateFormatISO</listEntry>
            <listEntry value="1">@Strings.DateFormatEuropean</listEntry>
            <listEntry value="2">@Strings.DateFormatUS</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.dateSeparator" title="@Strings.DateSeparatorTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DateSeparatorSlash</listEntry>
            <listEntry value="1">@Strings.DateSeparatorDash</listEntry>
            <listEntry value="2">@Strings.DateSeparatorDot</listEntry>
            <listEntry value="3">@Strings.DateSeparatorSpace</listEntry>
        </settingConfig>
    </setting>
</settings>